openapi: 3.2.0
info:
  title: Endeavor BioMedicines WordPress REST Wp Block Editor/v1 API
  version: wp/v2
  description: Machine-readable description of the public WordPress REST API served by endeavorbiomedicines.com.
  contact:
    name: Endeavor BioMedicines
    url: https://endeavorbiomedicines.com/contact/
servers:
- url: https://endeavorbiomedicines.com/wp-json
tags:
- name: wp-block-editor/v1
paths:
  /wp-block-editor/v1:
    get:
      operationId: getWpblockeditorV1
      summary: GET /wp-block-editor/v1
      tags:
      - wp-block-editor/v1
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp-block-editor/v1
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1/export:
    get:
      operationId: getWpblockeditorV1Export
      summary: GET /wp-block-editor/v1/export
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1/navigation-fallback:
    get:
      operationId: getWpblockeditorV1Navigationfallback
      summary: GET /wp-block-editor/v1/navigation-fallback
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1/url-details:
    get:
      operationId: getWpblockeditorV1Urldetails
      summary: GET /wp-block-editor/v1/url-details
      tags:
      - wp-block-editor/v1
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL to process.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. mcp_unauthorized.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
  securitySchemes:
    wpNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie-authenticated nonce, accepted per the Access-Control-Allow-Headers advertised by this host.
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token accepted per the advertised Access-Control-Allow-Headers: Authorization.'
x-derived-from: https://endeavorbiomedicines.com/wp-json/
x-derived-on: '2026-08-12'
x-excluded-namespaces:
  (root): 2
  ajaxselect2/v1: 2
  cky/v1: 36
  duplicate-post/v1: 2
  redirection/v1: 32
  sliderrevolution: 7
  wordfence-login-security/v1: 3
  wordfence/v1: 7
  wp-rocket/v1: 17
  wp-toolkit/api: 3
  yoast/v1: 59
