openapi: 3.1.0
info:
  title: Endeavor BioMedicines WordPress REST API
  version: wp/v2
  description: Machine-readable description of the public WordPress REST API served by endeavorbiomedicines.com. DERIVED mechanically
    from the route index the site itself publishes at https://endeavorbiomedicines.com/wp-json/ on 2026-08-12 — every path,
    method, argument, default and enum below is taken verbatim from that document. Only WordPress-core namespaces are included
    (wp/v2, oembed/1.0, wp-abilities/v1, mcp, wp-site-health/v1, wp-block-editor/v1); third-party plugin namespaces present
    on the same host are listed in x-excluded-namespaces. Content read operations (posts, pages, media, taxonomies, types)
    answer anonymously; write and administrative operations require WordPress authentication. This is a site-platform API,
    not a product API — Endeavor BioMedicines publishes no developer program.
  contact:
    name: Endeavor BioMedicines
    url: https://endeavorbiomedicines.com/contact/
servers:
- url: https://endeavorbiomedicines.com/wp-json
x-derived-from: https://endeavorbiomedicines.com/wp-json/
x-derived-on: '2026-08-12'
x-excluded-namespaces:
  (root): 2
  ajaxselect2/v1: 2
  cky/v1: 36
  duplicate-post/v1: 2
  redirection/v1: 32
  sliderrevolution: 7
  wordfence-login-security/v1: 3
  wordfence/v1: 7
  wp-rocket/v1: 17
  wp-toolkit/api: 3
  yoast/v1: 59
tags:
- name: mcp
- name: oembed/1.0
- name: wp-abilities/v1
- name: wp-block-editor/v1
- name: wp-site-health/v1
- name: wp/v2
paths:
  /mcp:
    get:
      operationId: getMcp
      summary: GET /mcp
      tags:
      - mcp
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: mcp
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mcp/mcp-adapter-default-server:
    post:
      operationId: postMcpMcpadapterdefaultserver
      summary: POST /mcp/mcp-adapter-default-server
      tags:
      - mcp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    get:
      operationId: getMcpMcpadapterdefaultserver
      summary: GET /mcp/mcp-adapter-default-server
      tags:
      - mcp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteMcpMcpadapterdefaultserver
      summary: DELETE /mcp/mcp-adapter-default-server
      tags:
      - mcp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mcp/mcp-oauth-server:
    post:
      operationId: postMcpMcpoauthserver
      summary: POST /mcp/mcp-oauth-server
      tags:
      - mcp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    get:
      operationId: getMcpMcpoauthserver
      summary: GET /mcp/mcp-oauth-server
      tags:
      - mcp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteMcpMcpoauthserver
      summary: DELETE /mcp/mcp-oauth-server
      tags:
      - mcp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /oembed/1.0:
    get:
      operationId: getOembed10
      summary: GET /oembed/1.0
      tags:
      - oembed/1.0
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: oembed/1.0
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /oembed/1.0/embed:
    get:
      operationId: getOembed10Embed
      summary: GET /oembed/1.0/embed
      tags:
      - oembed/1.0
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        required: false
        schema:
          type: string
          default: 600
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /oembed/1.0/proxy:
    get:
      operationId: getOembed10Proxy
      summary: GET /oembed/1.0/proxy
      tags:
      - oembed/1.0
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        description: The oEmbed format to use.
      - name: maxwidth
        in: query
        required: false
        schema:
          type: integer
          default: 600
        description: The maximum width of the embed frame in pixels.
      - name: maxheight
        in: query
        required: false
        schema:
          type: integer
        description: The maximum height of the embed frame in pixels.
      - name: discover
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to perform an oEmbed discovery request for unsanctioned providers.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-abilities/v1:
    get:
      operationId: getWpabilitiesV1
      summary: GET /wp-abilities/v1
      tags:
      - wp-abilities/v1
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp-abilities/v1
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-abilities/v1/abilities:
    get:
      operationId: getWpabilitiesV1Abilities
      summary: GET /wp-abilities/v1/abilities
      tags:
      - wp-abilities/v1
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Maximum number of items to be returned in result set.
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: Limit results to abilities in specific ability category.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-abilities/v1/abilities/{name}/]+):
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpabilitiesV1AbilitiesByName
      summary: GET /wp-abilities/v1/abilities/{name}/]+)
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-abilities/v1/abilities/{name}/]+?)/run:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpabilitiesV1AbilitiesByNameRun
      summary: GET /wp-abilities/v1/abilities/{name}/]+?)/run
      tags:
      - wp-abilities/v1
      parameters:
      - name: input
        in: query
        required: false
        schema:
          type: integer
        description: Input parameters for the ability execution.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpabilitiesV1AbilitiesByNameRun
      summary: POST /wp-abilities/v1/abilities/{name}/]+?)/run
      tags:
      - wp-abilities/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: integer
                  description: Input parameters for the ability execution.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: putWpabilitiesV1AbilitiesByNameRun
      summary: PUT /wp-abilities/v1/abilities/{name}/]+?)/run
      tags:
      - wp-abilities/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: integer
                  description: Input parameters for the ability execution.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patchWpabilitiesV1AbilitiesByNameRun
      summary: PATCH /wp-abilities/v1/abilities/{name}/]+?)/run
      tags:
      - wp-abilities/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: integer
                  description: Input parameters for the ability execution.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpabilitiesV1AbilitiesByNameRun
      summary: DELETE /wp-abilities/v1/abilities/{name}/]+?)/run
      tags:
      - wp-abilities/v1
      parameters:
      - name: input
        in: query
        required: false
        schema:
          type: integer
        description: Input parameters for the ability execution.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-abilities/v1/categories:
    get:
      operationId: getWpabilitiesV1Categories
      summary: GET /wp-abilities/v1/categories
      tags:
      - wp-abilities/v1
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Maximum number of items to be returned in result set.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-abilities/v1/categories/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpabilitiesV1CategoriesBySlug
      summary: GET /wp-abilities/v1/categories/{slug}
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1:
    get:
      operationId: getWpblockeditorV1
      summary: GET /wp-block-editor/v1
      tags:
      - wp-block-editor/v1
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp-block-editor/v1
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1/export:
    get:
      operationId: getWpblockeditorV1Export
      summary: GET /wp-block-editor/v1/export
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1/navigation-fallback:
    get:
      operationId: getWpblockeditorV1Navigationfallback
      summary: GET /wp-block-editor/v1/navigation-fallback
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1/url-details:
    get:
      operationId: getWpblockeditorV1Urldetails
      summary: GET /wp-block-editor/v1/url-details
      tags:
      - wp-block-editor/v1
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL to process.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1:
    get:
      operationId: getWpsitehealthV1
      summary: GET /wp-site-health/v1
      tags:
      - wp-site-health/v1
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp-site-health/v1
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/directory-sizes:
    get:
      operationId: getWpsitehealthV1Directorysizes
      summary: GET /wp-site-health/v1/directory-sizes
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/authorization-header:
    get:
      operationId: getWpsitehealthV1TestsAuthorizationheader
      summary: GET /wp-site-health/v1/tests/authorization-header
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/background-updates:
    get:
      operationId: getWpsitehealthV1TestsBackgroundupdates
      summary: GET /wp-site-health/v1/tests/background-updates
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/dotorg-communication:
    get:
      operationId: getWpsitehealthV1TestsDotorgcommunication
      summary: GET /wp-site-health/v1/tests/dotorg-communication
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/https-status:
    get:
      operationId: getWpsitehealthV1TestsHttpsstatus
      summary: GET /wp-site-health/v1/tests/https-status
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/loopback-requests:
    get:
      operationId: getWpsitehealthV1TestsLoopbackrequests
      summary: GET /wp-site-health/v1/tests/loopback-requests
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/page-cache:
    get:
      operationId: getWpsitehealthV1TestsPagecache
      summary: GET /wp-site-health/v1/tests/page-cache
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2:
    get:
      operationId: getWpV2
      summary: GET /wp/v2
      tags:
      - wp/v2
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp/v2
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-directory/search:
    get:
      operationId: getWpV2BlockdirectorySearch
      summary: GET /wp/v2/block-directory/search
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: term
        in: query
        required: true
        schema:
          type: string
        description: Limit result set to blocks matching the search term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-patterns/categories:
    get:
      operationId: getWpV2BlockpatternsCategories
      summary: GET /wp/v2/block-patterns/categories
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-patterns/patterns:
    get:
      operationId: getWpV2BlockpatternsPatterns
      summary: GET /wp/v2/block-patterns/patterns
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-renderer/{name}/[a-z0-9-]+):
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockrendererByNameaz09
      summary: GET /wp/v2/block-renderer/{name}/[a-z0-9-]+)
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum: &id001
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: attributes
        in: query
        required: false
        schema:
          type: object
          default: &id002 []
        description: Attributes for the block.
      - name: post_id
        in: query
        required: false
        schema:
          type: integer
        description: ID of the post context.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2BlockrendererByNameaz09
      summary: POST /wp/v2/block-renderer/{name}/[a-z0-9-]+)
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  enum: *id001
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  default: *id002
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-types:
    get:
      operationId: getWpV2Blocktypes
      summary: GET /wp/v2/block-types
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: namespace
        in: query
        required: false
        schema:
          type: string
        description: Block namespace.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-types/{namespace}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocktypesByNamespace
      summary: GET /wp/v2/block-types/{namespace}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-types/{namespace}/{name}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocktypesByNamespaceByName
      summary: GET /wp/v2/block-types/{namespace}/{name}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks:
    get:
      operationId: getWpV2Blocks
      summary: GET /wp/v2/blocks
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: wp_pattern_category
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy.
      - name: wp_pattern_category_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2Blocks
      summary: POST /wp/v2/blocks
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksById
      summary: GET /wp/v2/blocks/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2BlocksById
      summary: POST /wp/v2/blocks/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: &id003
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: putWpV2BlocksById
      summary: PUT /wp/v2/blocks/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id003
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patchWpV2BlocksById
      summary: PATCH /wp/v2/blocks/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id003
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2BlocksById
      summary: DELETE /wp/v2/blocks/{id}
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByIdAutosaves
      summary: GET /wp/v2/blocks/{id}/autosaves
      tags:
      - wp/v2
      parameters:
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2BlocksByIdAutosaves
      summary: POST /wp/v2/blocks/{id}/autosaves
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentAutosavesById
      summary: GET /wp/v2/blocks/{parent}/autosaves/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentRevisions
      summary: GET /wp/v2/blocks/{parent}/revisions
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by object attribute.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/blocks/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentRevisionsById
      summary: GET /wp/v2/blocks/{parent}/revisions/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2BlocksByParentRevisionsById
      summary: DELETE /wp/v2/blocks/{parent}/revisions/{id}
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as revisions do not support trashing.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/categories:
    get:
      operationId: getWpV2Categories
      summary: GET /wp/v2/categories
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2Categories
      summary: POST /wp/v2/categories
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
              required:
              - name
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CategoriesById
      summary: GET /wp/v2/categories/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postWpV2CategoriesById
      summary: POST /wp/v2/categories/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: putWpV2CategoriesById
      summary: PUT /wp/v2/categories/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patchWpV2CategoriesById
      summary: PATCH /wp/v2/categories/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success
[...]
