openapi: 3.2.0
info:
  title: Endeavor BioMedicines WordPress REST MCP API
  version: wp/v2
  description: Machine-readable description of the public WordPress REST API served by endeavorbiomedicines.com.
  contact:
    name: Endeavor BioMedicines
    url: https://endeavorbiomedicines.com/contact/
servers:
- url: https://endeavorbiomedicines.com/wp-json
tags:
- name: MCP
paths:
  /mcp:
    get:
      operationId: getMcp
      summary: GET /mcp
      tags:
      - MCP
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: mcp
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mcp/mcp-adapter-default-server:
    post:
      operationId: postMcpMcpadapterdefaultserver
      summary: POST /mcp/mcp-adapter-default-server
      tags:
      - MCP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    get:
      operationId: getMcpMcpadapterdefaultserver
      summary: GET /mcp/mcp-adapter-default-server
      tags:
      - MCP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteMcpMcpadapterdefaultserver
      summary: DELETE /mcp/mcp-adapter-default-server
      tags:
      - MCP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mcp/mcp-oauth-server:
    post:
      operationId: postMcpMcpoauthserver
      summary: POST /mcp/mcp-oauth-server
      tags:
      - MCP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    get:
      operationId: getMcpMcpoauthserver
      summary: GET /mcp/mcp-oauth-server
      tags:
      - MCP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteMcpMcpoauthserver
      summary: DELETE /mcp/mcp-oauth-server
      tags:
      - MCP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the current user cannot perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. mcp_unauthorized.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
  securitySchemes:
    wpNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie-authenticated nonce, accepted per the Access-Control-Allow-Headers advertised by this host.
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token accepted per the advertised Access-Control-Allow-Headers: Authorization.'
x-derived-from: https://endeavorbiomedicines.com/wp-json/
x-derived-on: '2026-08-12'
x-excluded-namespaces:
  (root): 2
  ajaxselect2/v1: 2
  cky/v1: 36
  duplicate-post/v1: 2
  redirection/v1: 32
  sliderrevolution: 7
  wordfence-login-security/v1: 3
  wordfence/v1: 7
  wp-rocket/v1: 17
  wp-toolkit/api: 3
  yoast/v1: 59
